<h1>{{name}}</h1>
<p>{{date}}</p>
<div>
	<h1>{{name}}</h1>
	<p>{{street}},</p>
	<p>{{town}}</p>
	<img src="" alt="foto" title="Dit is een foto van {{name}}"/>
</div>
<section class='votes'>
	<header>
	<h1>jouw beoordeling</h1>
	</header>
</section>
<section class='fotos'>
	<header>
	<h1>foto's</h1>
	</header>
</section>