<li>
	<h1><span class="reg">e plaats:</span> {{name}}</h1>
<div class="square">
	<img href='' src='uploads/users/{{id}}{{extension}}'alt='afbeelding' class="img-usr"/>
</div>

<div class="label-el"><p class="label">kwaliteit gebak</p><p class="score">{{gebak}}</p></div>
<div class="label-el"><p class="label">goed gelachen?</p><p class="score">{{gelach}}</p></div>
<div class="label-el"><p class="label">geur van het huis?</p><p class="score">{{geur}}</p></div>
</li>